{
    "swagger": "2.0",
    "info": {
        "version": "3.8.2",
        "title": "XRepository 3 API"
    },
    "host": "xrepository.de",
    "basePath": "/api",
    "tags": [
        {
            "name": "InteropMatrix"
        },
        {
            "name": "administration"
        },
        {
            "name": "Codeliste"
        },
        {
            "name": "VersionCodeliste"
        },
        {
            "name": "Datei"
        },
        {
            "name": "XÖV-Bibliothek"
        },
        {
            "name": "GUI"
        },
        {
            "name": "Redaktion"
        },
        {
            "name": "Standard"
        },
        {
            "name": "VersionStandard"
        },
        {
            "name": "Nutzer"
        },
        {
            "name": "Profil"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/interop/matrix": {
            "get": {
                "tags": [
                    "InteropMatrix"
                ],
                "summary": "Herunterladen der VersionStandard-Daten für die gesamte Matrix",
                "description": "",
                "operationId": "getInteropDaten",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/interop/daten-{kennung}": {
            "get": {
                "tags": [
                    "InteropMatrix"
                ],
                "summary": "Herunterladen der VersionStandard-Daten für einen einzelnen Standard",
                "description": "",
                "operationId": "getSingleInteropDaten",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/administration/extraktion": {
            "get": {
                "tags": [
                    "administration"
                ],
                "summary": "Gibt Informationen über den aktuellen (zuletzt gestartetet) Lauf der Extraktion zurück",
                "description": "",
                "operationId": "getInfo",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "administration"
                ],
                "summary": "Startet eine erneute Extraktion aller Objekte",
                "description": "",
                "operationId": "start",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/administration/validation": {
            "post": {
                "tags": [
                    "administration"
                ],
                "summary": "Startet eine erneute Validierung aller Objekte",
                "description": "",
                "operationId": "starteValidation",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/administration/validation/report.xml": {
            "get": {
                "tags": [
                    "administration"
                ],
                "summary": "Holt den XML-Validierungsbericht",
                "description": "",
                "operationId": "getValidierungsBericht",
                "produces": [
                    "application/xml"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}": {
            "post": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "update",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/UpdateData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{kennung}/gueltigeVersion": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Liefert die aktuell gültige Version dieser Codeliste im Genericode-Format.",
                "description": "",
                "operationId": "getGueltigeVersion",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/abonnieren": {
            "post": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "abonnieren",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/abbestellen": {
            "post": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "abbestellen",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/updateStatus": {
            "post": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "updateStatus",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/StatusData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{kennung}/genericode": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Liefert alle Version dieser Codeliste im Genericode-Format.",
                "description": "",
                "operationId": "getAllGenericode",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{kennung}/dokumentation/{name}": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Lädt ein Dokument aus dem Bereich Dokumentation (bei Inhalt) herunter",
                "description": "",
                "operationId": "getDokumentation",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{kennung}/anfrage": {
            "post": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Sendet eine Nutzeranfrage an den Ansprechpartner des Inhalts",
                "description": "",
                "operationId": "sendAnfrage",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/Anfrage"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{kennung}/technischerBestandteil/{name}": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Lädt ein Dokument aus dem Bereich Dokumentation (bei Inhalt) herunter",
                "description": "",
                "operationId": "getTechnischerBestandteil",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{kennung}/anfrage/token": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Erstellt einen Token - dieser wird zur Validierung einer Anfrage benötigt",
                "description": "",
                "operationId": "getAnfrageToken",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/dokumentation/{name}": {
            "delete": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Entfernt ein Dokument aus dem Bereich \"dokumentation\".",
                "description": "",
                "operationId": "removeDokument",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/technischerBestandteil/{name}": {
            "delete": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Entfernt ein Dokument aus dem Bereich \"technischerBestandteil\".",
                "description": "",
                "operationId": "removeTechnischerBestandteil",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/debugInfo": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "getDebugInfo",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/DebugInfo"
                        }
                    }
                }
            }
        },
        "/codeliste/{kennung}/model": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "getModel",
                "produces": [
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/beziehungen": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "getBeziehungen",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/DebugInfo"
                        }
                    }
                }
            }
        },
        "/codeliste/{urn}/transfer-owner": {
            "post": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "transferOwnership",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TransferOwnerData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{kennung}/dokumente": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Lädt alle Dokumente des Objekts zu der Kennung als ZIP herunter",
                "description": "",
                "operationId": "getDokumente",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/add-document": {
            "post": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Upload eines neuen Dokuments",
                "description": "",
                "operationId": "uploadDokument",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "description": ".uml Dateien mit Fachmodell",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "document",
                        "in": "formData",
                        "description": "Dokumentinformatation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/metadaten": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "metadaten",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/abonnenten": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "getAbonnenten",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{kennung}": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "summary": "Herunterladen des Modells (Daten) dieses Objekts",
                "description": "",
                "operationId": "getModelPlain",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/codeliste/{urn}/model": {
            "get": {
                "tags": [
                    "Codeliste"
                ],
                "operationId": "getJson",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}": {
            "post": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "update_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/UpdateData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}/abonnieren": {
            "post": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "abonnieren_1",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}/abbestellen": {
            "post": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "abbestellen_1",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}/updateStatus": {
            "post": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "updateStatus_1",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/StatusData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/dokument/{name}": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Lädt ein Dokument herunter",
                "description": "",
                "operationId": "getDokument",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Löschen eines Dokuments.",
                "description": "",
                "operationId": "removeDokumentFromVersionCodeliste",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/genericode/validate": {
            "post": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Validiert eine Genericode-Datei",
                "description": "",
                "operationId": "validate_1",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MultipartFormDataInput"
                        }
                    },
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/genericode/daten": {
            "get": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Liefert die Genericode-Daten zur Darstellung in der GUI (Tabelle)",
                "description": "",
                "operationId": "getGenericodeDaten",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Speichert das GC-Editor-Ergebnis in dem ein Extraktion auf die erfassten Daten durchgeführt wird.",
                "description": "",
                "operationId": "save",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/GenericodeDaten"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "NEW_OBJEKT",
                            "NEW_VERSION",
                            "UPDATE_VERSION",
                            "EXTRAKTOR_UPDATE",
                            "BATCH"
                        ]
                    },
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/genericode/load": {
            "post": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Lädt Genericode zur Anzeige im Genericode-Editor",
                "description": "",
                "operationId": "importGenericode",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MultipartFormDataInput"
                        }
                    },
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/genericode": {
            "get": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Liefert die Genericode-Datei",
                "description": "",
                "operationId": "getGenericode",
                "produces": [
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/download/{name}.json": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Stellt das Exportformat JSON der Codeliste bereit",
                "description": "",
                "operationId": "getAsJson",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/download/{name}.xlsx": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Stellt das Exportformat Excel der Codeliste bereit",
                "description": "",
                "operationId": "getAsExcel",
                "produces": [
                    "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/download/{name}.mdxml": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Stellt das Exportformat MagicDraw der Codeliste bereit",
                "description": "",
                "operationId": "getAsMagicDraw",
                "produces": [
                    "application/x-uml"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/download/{name}.md": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Stellt das Exportformat Markdown der Codeliste bereit",
                "description": "",
                "operationId": "getAsMarkdown",
                "produces": [
                    "text/markdown"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/genericode/validate": {
            "post": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Validiert eine Genericode-Datei",
                "description": "",
                "operationId": "validate_2",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MultipartFormDataInput"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/genericode/daten": {
            "get": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Liefert die Genericode-Daten zur Darstellung in der GUI (Tabelle)",
                "description": "",
                "operationId": "getGenericodeDaten_1",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Speichert das GC-Editor-Ergebnis in dem ein Extraktion auf die erfassten Daten durchgeführt wird.",
                "description": "",
                "operationId": "save_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/GenericodeDaten"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "NEW_OBJEKT",
                            "NEW_VERSION",
                            "UPDATE_VERSION",
                            "EXTRAKTOR_UPDATE",
                            "BATCH"
                        ]
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/genericode/load": {
            "post": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Lädt Genericode zur Anzeige im Genericode-Editor",
                "description": "",
                "operationId": "importGenericode_1",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MultipartFormDataInput"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/genericode": {
            "get": {
                "tags": [
                    "VersionCodeliste",
                    "Codeliste"
                ],
                "summary": "Liefert die Genericode-Datei",
                "description": "",
                "operationId": "getGenericode_1",
                "produces": [
                    "application/xml"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/{format}": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Stellt ein Exportformat der Codeliste bereit",
                "description": "",
                "operationId": "exportFormat",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "(excel|magicdraw|markdown|json)"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/technischerBestandteilGenericode": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Lädt das Genericode-Fachmodell herunter.",
                "description": "",
                "operationId": "downloadGenericodeFachmodell",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/hochladen": {
            "post": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "addVersionCodeliste",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MultipartFormDataInput"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}/debugInfo": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "getDebugInfo_1",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/DebugInfo"
                        }
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/model": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "getModel_1",
                "produces": [
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}/beziehungen": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "getBeziehungen_1",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/DebugInfo"
                        }
                    }
                }
            }
        },
        "/version_codeliste/{urn}/transfer-owner": {
            "post": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "transferOwnership_1",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TransferOwnerData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}/dokumente": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Lädt alle Dokumente des Objekts zu der Kennung als ZIP herunter",
                "description": "",
                "operationId": "getDokumente_1",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}/add-document": {
            "post": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Upload eines neuen Dokuments",
                "description": "",
                "operationId": "uploadDokument_1",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "description": ".uml Dateien mit Fachmodell",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "document",
                        "in": "formData",
                        "description": "Dokumentinformatation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}/metadaten": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "metadaten_1",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}/abonnenten": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "getAbonnenten_1",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{kennung}": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "summary": "Herunterladen des Modells (Daten) dieses Objekts",
                "description": "",
                "operationId": "getModelPlain_1",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/version_codeliste/{urn}/model": {
            "get": {
                "tags": [
                    "VersionCodeliste"
                ],
                "operationId": "getJson_1",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/daten": {
            "get": {
                "tags": [
                    "Datei"
                ],
                "operationId": "getContent",
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{kennung}": {
            "get": {
                "tags": [
                    "Datei"
                ],
                "summary": "Herunterladen des Modells (Daten) dieses Objekts",
                "description": "",
                "operationId": "getModelPlain_2",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}": {
            "post": {
                "tags": [
                    "Datei"
                ],
                "operationId": "update_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/UpdateData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/abonnieren": {
            "post": {
                "tags": [
                    "Datei"
                ],
                "operationId": "abonnieren_2",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/abbestellen": {
            "post": {
                "tags": [
                    "Datei"
                ],
                "operationId": "abbestellen_2",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/updateStatus": {
            "post": {
                "tags": [
                    "Datei"
                ],
                "operationId": "updateStatus_2",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/StatusData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/debugInfo": {
            "get": {
                "tags": [
                    "Datei"
                ],
                "operationId": "getDebugInfo_2",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/DebugInfo"
                        }
                    }
                }
            }
        },
        "/datei/{kennung}/model": {
            "get": {
                "tags": [
                    "Datei"
                ],
                "operationId": "getModel_2",
                "produces": [
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/beziehungen": {
            "get": {
                "tags": [
                    "Datei"
                ],
                "operationId": "getBeziehungen_2",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "schema": {
                            "$ref": "#/definitions/DebugInfo"
                        }
                    }
                }
            }
        },
        "/datei/{urn}/transfer-owner": {
            "post": {
                "tags": [
                    "Datei"
                ],
                "operationId": "transferOwnership_2",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TransferOwnerData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{kennung}/dokumente": {
            "get": {
                "tags": [
                    "Datei"
                ],
                "summary": "Lädt alle Dokumente des Objekts zu der Kennung als ZIP herunter",
                "description": "",
                "operationId": "getDokumente_2",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/add-document": {
            "post": {
                "tags": [
                    "Datei"
                ],
                "summary": "Upload eines neuen Dokuments",
                "description": "",
                "operationId": "uploadDokument_2",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "description": ".uml Dateien mit Fachmodell",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "name": "document",
                        "in": "formData",
                        "description": "Dokumentinformatation",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/metadaten": {
            "get": {
                "tags": [
                    "Datei"
                ],
                "operationId": "metadaten_2",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/abonnenten": {
            "get": {
                "tags": [
                    "Datei"
                ],
                "operationId": "getAbonnenten_2",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/datei/{urn}/model": {
            "get": {
                "tags": [
                    "Datei"
                ],
                "operationId": "getJson_2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/xoev_bibliothek/hochladen": {
            "post": {
                "tags": [
                    "XÖV-Bibliothek"
                ],
                "operationId": "addVersionXoevBibliothek",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "files",
                        "in": "formData",
                        "description": ".uml Dateien mit der XÖV-Bibliothek",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/xoev_bibliothek/freigeben": {
            "post": {
                "tags": [
                    "XÖV-Bibliothek"
                ],
                "operationId": "xoevFreigeben",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/xoev_bibliothek": {
            "get": {
                "tags": [
                    "XÖV-Bibliothek"
                ],
                "operationId": "getAll",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/nutzer/{kennung}/token/{name}": {
            "put": {
                "tags": [
                    "GUI"
                ],
                "summary": "Erzeugt einen neuen API-Token für den Nutzer.",
                "description": "",
                "operationId": "createToken",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "GUI"
                ],
                "summary": "Invalidiert einen API-Token für den Nutzer.",
                "description": "",
                "operationId": "revokeToken",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/nutzer/{kennung}": {
            "get": {
                "tags": [
                    "GUI"
                ],
                "summary": "Gibt die Metadaten des Nutzers zurück.",
                "description": "",
                "operationId": "getNutzer",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "GUI"
                ],
                "summary": "Aktualisiert die Metadaten des Nutzers zurück.",
                "description": "",
                "operationId": "updateNutzer",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/NutzerData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "GUI"
                ],
                "summary": "Gibt die Metadaten des Nutzers zurück.",
                "description": "",
                "operationId": "deleteNutzer",
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/nutzer/{kennung}/transferiereEigentuemer": {
            "post": {
                "tags": [
                    "GUI"
                ],
                "summary": "Überträgt die Eigentümerschaft an Inhalten an einen neuen Nutzer.",
                "description": "",
                "operationId": "transferOwner",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/TransferInhaltInfo"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/nutzer/{kennung}/metadaten": {
            "get": {
                "tags": [
                    "GUI"
                ],
                "summary": "Gibt die Metadaten des Nutzers zurück.",
                "description": "",
                "operationId": "getNutzerMetadaten",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/nutzer/{kennung}/set-password": {
            "post": {
                "tags": [
                    "GUI"
                ],
                "summary": "Setzt ein neues Passwort für den Nutzer",
                "description": "",
                "operationId": "updatePassword",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kennung",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ChangePasswordData"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/nutzer": {
            "get": {
                "tags": [
                    "GUI"
                ],
                "summary": "Suche + Filter definiert über eine URL mit Parametern.",
                "description": "",
                "operationId": "searchGET",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "GUI"
                ],
                "summary": "Suche + Filter definiert über ein JSON-Suchobjekt",
                "description": "",
                "operationId": "search",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/NutzerSearch"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/bild/{urn}": {
            "get": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Abruf des Bildes oder der Meta-Daten je nach angefragtem MimeType (via accept-header). Default ist die Bereitstellung des eigentlichen Bildes",
                "description": "",
                "operationId": "fetch",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Aktualisierung oder Anlegen von Bildern.",
                "description": "",
                "operationId": "update_3",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "name": "model",
                        "in": "formData",
                        "description": "Bild-Modell als JSON",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "Bild (Binärdaten)",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Redaktion"
                ],
                "operationId": "delete",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/bild": {
            "get": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Liefert eine Liste alle Inhalte dieses Typs.",
                "description": "",
                "operationId": "fetchAll",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Anlegen von Bildern.",
                "description": "",
                "operationId": "create",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "formData",
                        "description": "Bild-Modell als JSON",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "Bild (Binärdaten)",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/redaktionelle_liste/{urn}": {
            "get": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Lädt das Modell als JSON oder XML",
                "description": "",
                "operationId": "fetch_1",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Aktualisierung des Objekts. Muss xml sein.",
                "description": "",
                "operationId": "update_4",
                "consumes": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ListObjekt"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/redaktionelle_liste": {
            "get": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Liefert eine Liste alle Inhalte dieses Typs.",
                "description": "",
                "operationId": "fetchAll_1",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/template/{urn}": {
            "get": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Lädt das Modell als JSON oder XML",
                "description": "",
                "operationId": "fetch_2",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Aktualisierung des Objekts. Muss xml sein.",
                "description": "",
                "operationId": "update_5",
                "consumes": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MailTemplate"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/template": {
            "get": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Liefert eine Liste alle Inhalte dieses Typs.",
                "description": "",
                "operationId": "fetchAll_2",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/seite/{urn}": {
            "get": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Lädt das Modell als JSON oder XML",
                "description": "",
                "operationId": "fetch_3",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "Redaktion"
                ],
                "summary": "Aktualisierung des Objekts. Muss xml sein.",
                "description": "",
                "operationId": "update_6",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-zA-Z0-9-:_.]+"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/Seite"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Redaktion"
                ],
                "operationId": "delete_1",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "urn",
                        "in": "path",
                        "required": true,
[...]
